/* Web Fonts -------------------- */
/*
@font-face {
  font-family: 'Lato', sans-serif;
  src: url('../fonts/abolition-regular-webfont.eot');
  src: url('../fonts/abolition-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/abolition-regular-webfont.woff') format('woff'),
       url('../fonts/abolition-regular-webfont.ttf') format('truetype');
}
*/
* {
	font-family: 'Lato', sans-serif;
}
/* Base Styles -------------------- */

* {
  box-sizing: border-box;
}

.arrow:hover{
	 box-shadow:inset 1px 1px 40px 0 rgba(0,0,0,.45); 
	 opacity: 0.5;
	 
}

#content {
	margin-top: 40px;
	margin-left: auto;
	
	margin-right: auto;
}

#content section {
	margin-left: auto;
	
	margin-right: auto;
	
	color: black;
}

#png-img {
	
	width: 50px;
	height: 50px;
}

body {
  color: #878787;
  margin: 0;
  font: 1em/1.5 'Lato', sans-serif;;
}

h1 {
	
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	
}

h1 {  
  font-size: 5.625rem; /* 90px/16px  */
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1.3; 
  text-shadow: 0 2px 2px rgba(0,0,0,.8);
  margin: 12px 0 0;
}



#block h1 {
	font-size: 1.4em;
	text-align: center;
	color: white;
	margin-left: auto;
	margin-right: auto;
	color: #FEDFBF
	
}
.arrow {
  max-width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
}


.main-header {
  padding-top: 170px;
  height: 850px;
  background: linear-gradient(skyblue, transparent 90%),
              linear-gradient(0deg, #fff, transparent),
              #ffa949 url('img/mountains.jpg') no-repeat center;
  background-size: cover;
 
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
  
}
table {
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	margin-bottom: 100px;
	table-layout: fixed;
	width:700px;
}
table td {
	width: 20%;
	text-align:justify;
    color: black;
	padding: 20px;
	overflow: hidden;
	font-size: 1em;
	vertical-align:top;
	
}

table th {
	font-size:1.2em;
	color: black;
	
	
}

.contact {
	text-align:center;
	font-weight: bold;
	color: blue;
	
}

.input {
	font-family: Ariel, sans-serif;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 0.8en;
	
}

.ids {
	margin-top: 120px;
}
.title {
  color: white;
  font-size: 1.625rem; /* 26px/16px */
  letter-spacing: .065em;
  font-weight: 200;
  border-bottom: 2px solid;
  padding-bottom: 10px;
  
}
.row {
	margin-top: 10px;
}
#top{
	
	padding: 10px;
	background-color: red;
	
}
.main-header,
.main-footer {
  text-align: center;
}

.main-footer {
	display: block;
	height: 200px;
	
	background: linear-gradient(white, skyblue);
              
}
.main-footer p {
	color: white;
}


.arrow {
  width: 50px;
  margin-top: 150px;
}
.top-button {
	background-color: #FF8000;
	width: 120px;
	height: 30px;
	margin-left:auto;
	margin-right: auto;
	border-radius: 10px;
	box-shadow: 0px 4px 0px 0px rgb(144,0,0)
	
}
.top-button:hover {
	background-color: red;
}

.wrapper {
	min-height: calc(100vh - 200px);
}
